name: "TzStats"
description: "Blockchain explorer + API "

services:
    tz_indexer:
        image: blockwatch/tzindex:latest
        serviceName: "Indexer / API"
        description: "Tzindex Inderer and API"
        volumes:
            - name: "tz_indexer_data"
              description: "Volume for TzIndexer DB"
              mount: "/data"
        env:
            - "TZ_RPC_HOST=node"
            - "TZ_RPC_PORT=8732"
            - "TZ_SERVER_ADDR=0.0.0.0"
            - "TZ_SERVER_PORT=80"
            - "TZ_SERVER_CORS_ENABLE=false"
            - "TZ_DATABASE_PATH=/data/index"
            - "TZ_SNAPSHOT_PATH=/data/snapshots"
        endpoints:
            - Port: 80
              Proto: tcp
              Name: API
              Type: json
              HomePath: "/explorer/tip"
              Register: "TZSTATS_API"

    tz_gui:
        image: blockwatch/tzstats:latest
        serviceName: "Frontend"
        description: "TzStats Web Interface"
        env:
            - "TZSTATS_API_URL={{ TZSTATS_API }}"
            - "SV_HEADERS_Content= Security-Policy: default-src 'self' 'unsafe-inline' http://localhost:*;"
            - "SV_SERVER_PORT=8001"
        endpoints:
            - Port: 8001
              Proto: tcp
              Name: Website
              Type: redirect
              Register: "TZSTATS_GUI"
