rpc:
    {{ ENV_NAME }}:
        uri: http://node:8732
        timeout: 20

db:
    conn_string: "host=bcd_db port=5432 user=root dbname=bcd password=root sslmode=disable"

elastic:
    uri: http://bcd_elastic:9200
    timeout: 3

share:
    path: /etc/bcd


tzkt:
    mainnet:
        services_uri: https://services.tzkt.io/v1/
        timeout: 20
    zeronet:
        services_uri: https://services.tzkt.io/zeronet/v1/
        timeout: 20
    babylonnet:
        services_uri: https://services.tzkt.io/babylonnet/v1/
        timeout: 20
    carthagenet:
        services_uri: https://services.tzkt.io/carthagenet/v1/
        timeout: 20


api:
    bind: ":14000"
    oauth:
        enabled: false
    sentry:
        enabled: false
    networks:
        - {{ ENV_NAME }}

