{
    "API_URI": "{{ BCD_API_URL }}/v1/",
    "NETWORKS": ["{{ ENV_NAME }}"],
    "OAUTH_ENABLED": false,
    "GA_ENABLED": false,
    "MEMPOOL_ENABLED": false,
    "HOME_PAGE": "home",
    "RPC_ENDPOINTS": {
        "{{ ENV_NAME }}": "{{ RPC_ENDPOINT }}"
    }
}