rpc:
    {{ ENV_NAME }}:
        uri: http://node:8732
        timeout: 20

share:
    path: /etc/bcd

sentry:
    environment: production
    uri: ${SENTRY_DSN}
    debug: false

elastic:
    uri: http://bcd_elastic:9200
    timeout: 3

rabbitmq:
    uri: "amqp://guest:guest@bcd_mq:5672/"
    queues:
        - operations
        - contracts
        - migrations
        - recalc

indexer:
    sentry:
        enabled: false
        project: indexer
    networks:
        {{ ENV_NAME }}:
