name: "Better Call Dev"
description: "Smart Contract Explorer"

services:
  bcd_elastic:
    image: bakingbad/bcdhub-elastic:3.0
    serviceName: "Elasticsearch"
    description: "Elasticsearch Database for Better CAll Dev"
    volumes:
      - name: "bcd_elasticsearch_data"
        description: "Volume for Elasticsearch DB"
        mount: "/usr/share/elasticsearch/data"
    env:
      - "bootstrap.memory_lock=true"
      - "discovery.type=single-node"
      - "ES_JAVA_OPTS=-Xms256m -Xmx256m"

  bcd_mq:
    image: library/rabbitmq:latest
    serviceName: "RabbitMQ"
    description: "Message Broker"
    volumes:
      - name: "bcd_rabbitmq_data"
        description: "RabbitMQ data volume"
        mount: "/var/lib/rabbitmq"

  bcd_db:
    image: library/postgres:latest
    serviceName: "Postgres"
    description: "SQL Database"
    volumes:
      - name: "bcd_pg_data"
        description: "Postgres data volume"
        mount: "/var/lib/postgresql/data"
    env:
        - "POSTGRES_USER=root"
        - "POSTGRES_PASSWORD=root"
        - "POSTGRES_DB=bcd"


  bcd_api:
    image: bakingbad/bcdhub-api:3.0
    serviceName: "API"
    description: "Better Call DEV API"
    volumes:
       - name: "bcd_api_data"
         description: "API data volume"
         mount: "/etc/bcd"
    env:
      - "GIN_MODE=release"
      - "POSTGRES_USER=root"
      - "POSTGRES_PASSWORD=root"
    endpoints:
      - Port: 14000
        Proto: tcp
        Name: API
        Type: json
        HomePath: "/v1/stats/{{ ENV_NAME }}"
        Register: "BCD_API_URL"
    templates:
      - source: "/bcd/api_config.yml.twig"
        dest: "/app/api/config.yml"
        name: "api_config"

  bcd_indexer:
    image: bakingbad/bcdhub-indexer:3.0
    serviceName: "Indexer"
    description: "Better Call DEV Indexer"
    env:
      - "GIN_MODE=release"
      - "POSTGRES_USER=root"
      - "POSTGRES_PASSWORD=root"
      - "RABBIT_USER=guest"
      - "RABBIT_PASSWORD=guest"
    templates:
      - source: "/bcd/indexer_config.yml.twig"
        dest: "/app/indexer/config.yml"
        name: "indexer_config"

  bcd_gui:
    image: registry.gitlab.com/tuliptools/tplusplugins/bcdgui:latest
    serviceName: "Web Interface"
    description: "Better Call DEV GUI"
    templates:
      - source: "/bcd/gui_config.twig"
        dest: "/better-call-dev/.env.production"
        name: "gui_config"

      - source: "/bcd/gui_config.json.twig"
        dest: "/better-call-dev/public/config.json"
        name: "gui_public_config_json"

    env:
      - "GIN_MODE=release"
      - "POSTGRES_USER=root"
      - "POSTGRES_PASSWORD=root"
      - "RABBIT_USER=guest"
      - "RABBIT_PASSWORD=guest"
    endpoints:
      - Port: 8080
        Proto: tcp
        Name: Website
        Register: BCD_WEB
        Type: redirect
