name: "TezosLive GraphQL"
description: "GraphQL API"

services:
  tl_pusher:
    serviceName: "GraphQL API"
    description: "GraphQL API"
    image: tezoslive/taas-graphql:latest
    env:
      - "PORT=3000"
      - "TEZOS_NODE={{ NODE }}"
      - "MAX_BLOCKS=5"
      - "GRAPHQL_ENABLE_PLAYGROUND=true"
      - "GRAPHQL_ENABLE_INTROSPECTION=true"
      - "ENABLE_API_KEY=false"
      - "API_KEY=none"
    endpoints:
      - Port: 3000
        Proto: tcp
        Name: API
        HomePath: "/graphql"