name: "TezosLive Websocket"
description: "Websocket API"

services:
  Pusher:
    serviceName: "Pusher"
    description: "Websocket & SignalR Server"
    image: tezoslive/agileventurestezpusherweb:latest
    env:
      - "Tezos:NodeUrl={{ NODE }}"
    endpoints:
      - Port: 80
        Proto: tcp
        Name: API